@import url("https://fonts.googleapis.com/css?family=Kumbh+Sans:400,700");

body {
	font-family: "Kumb-Sans", sans-serif;
	margin: 0;
	padding: 0;
	background-image: linear-gradient(#af67ea, #6663e8);
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

#root {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

.container {
	width: 820px;
	height: 450px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: white;
	border-radius: 1.5rem;
}

.images-container {
	position: relative;
	height: 100%;
}

.images-container img {
	position: absolute;
}

.images-overflow {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.illustration {
	width: 100%;
	left: -4rem;
	z-index: 1;
	overflow: hidden;

	background-image: url("/illustration-woman-online-desktop.svg");
	background-repeat: no-repeat;
	background-size: contain;
	height: 100%;
	bottom: -3rem;
	position: absolute;
}

.illustration-box {
	top: 10.5rem;
	left: -4.5rem;
	z-index: 2;
	overflow: visible;
	width: 40%;

	background-image: url("/illustration-box-desktop.svg");
	background-repeat: no-repeat;
	background-size: contain;
	height: 100%;
	position: absolute;
}

.illustration-pattern {
	bottom: -4rem;
	left: -25rem;
	width: 210%;

	background-image: url("/bg-pattern-desktop.svg");
	background-repeat: no-repeat;
	background-size: contain;
	height: 163%;
	position: absolute;
}

.header {
	font-family: "Kumb-Sans", sans-serif;
	margin-bottom: 0;
}

.accordion {
	padding: 2rem 1rem;
	padding-right: 6rem;
}

.list {
	list-style: none;
	padding-left: 0;
}

.list-item {
	border-bottom: 1px solid #ebebeb;
	padding: 0.75rem 0;
}

.list-item:hover {
	cursor: pointer;
}

.list-item:hover .title {
	color: #e4aba0;
}

.list-item.selected .title {
	color: #0c0b1a;
	font-weight: 700;
}

.list-item.selected .title img {
	rotate: 180deg;
}

.title {
	display: flex;
	color: #6e6d73;
	font-family: "Kumb-Sans", sans-serif;
	font-size: 12px;
	font-weight: 500;
	align-items: center;

	transition: color 100ms linear;
}

.title img {
	margin-left: auto;
	width: 10px;
	height: 6px;
	transition: rotate 100ms linear;
}

.description {
	color: #807f84;
	font-size: 11px;
	font-family: "Kumb-Sans", sans-serif;
	font-weight: 400;

	visibility: hidden;
	opacity: 0;
	max-height: 0;
	margin-top: 0;
	transition: visibility 0s, opacity 0s linear, max-height 0.5s linear,
		margin-top 0s linear;
}

.description.show {
	visibility: visible;
	opacity: 1;
	max-height: fit-content;
	margin-top: 0.75rem;
}

@media screen and (max-width: 375px) {
	.container {
		width: 338px;
		height: 535px;
		display: flex;
		position: relative;
	}

	.header {
		text-align: center;
	}

	.images-container {
		height: 0;
		width: 100%;
		position: absolute;
	}

	.images-overflow {
		overflow: visible;
		height: 0;
	}

	.illustration {
		background-image: url("/illustration-woman-online-mobile.svg");
		position: absolute;

		top: -6.7rem;
		left: 3rem;
		width: 240px;
		height: 240px;
	}

	.illustration-pattern {
		background-image: url("/bg-pattern-mobile.svg");
		position: absolute;
		top: 0.1rem;
		left: 3rem;
		width: 240px;
		height: 120px;
	}

	.illustration-box {
		background-image: none;
		display: none;
	}

	/* .images-container {
		display: none;
	} */

	.accordion {
		padding-inline: 1.5rem;
		padding-top: 8rem;
	}
}
