@import url("https://fonts.googleapis.com/css?family=Overpass:400,700");

:root {
	--primary: hsl(25, 97%, 53%);
	--neutral-white: hsl(0, 0%, 100%);
	--neutral-light-grey: hsl(217, 12%, 63%);
	--neutral-medium-grey: hsl(216, 12%, 54%);
	--neutral-dark-blue: hsl(213, 19%, 18%);
	--neutral-very-dark-blue: hsl(216, 12%, 8%);
	--font-size: 15px;
}

body {
	font-family: "Overpass", sans-serif;
	margin: 0;
	padding: 0;
	background-color: #141519;
}

#root {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

.container {
	width: 310px;
	height: 310px;
	background-color: #1f2630;
	background-image: linear-gradient(#1e252f, #161e27);
	padding: 1.75rem;
	border-radius: 1.5rem;
}

.header {
	color: var(--neutral-white);
	margin-bottom: 0.5rem;
}

.content {
	color: var(--neutral-light-grey);
	font-size: 13px;
	line-height: 2.5ch;
	margin-bottom: 1.5rem;
}

.star-icon {
	margin-bottom: 2rem;
}

.round-btn {
	background-color: var(--neutral-dark-blue);
	border-radius: 100%;
	width: 45px;
	aspect-ratio: 1/1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ratings {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.rating {
	color: var(--neutral-medium-grey);
	font-size: 15px;
	font-weight: 700;
	border: none;
}

.rating:hover {
	color: var(--primary);
	background-color: #ffffff;
	cursor: pointer;
}

.rating:focus-within,
.rating.selected {
	color: white;
	background-color: var(--primary);
	cursor: pointer;
	outline: none;
}

.submit-btn {
	background-color: var(--primary);
	border: none;
	color: var(--neutral-white);
	width: 100%;
	padding: 0.65rem;
	border-radius: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-family: "Overpass", sans-serif;
	letter-spacing: 0.2ch;
	font-weight: 700;
	outline: none;
}

.submit-btn:hover {
	color: var(--primary);
	background-color: #ffffff;
	cursor: pointer;
}

.container.with-selected-rating {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 2rem 1.5rem 1rem 1.5rem;
}

.with-selected-rating .header {
	margin-bottom: 0rem;
}

.selected-rating {
	background-color: #272e38;
	color: var(--primary);
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	font-size: 12px;
	font-weight: 700;
}

.illustration-thank-you img {
	width: 85%;
}
